<article class="page-layout">
  <header class="main-header">
    <div class="wrapper">
      <a href="/" class="header__logo dim">
        <img
          class="main-header--character"
          src="/assets/images/header-character.png"
          width="139"
          height="142"
          alt="Caricature of Chris Carville riding a bike while holding a briefcase">
      </a>
      <a href="/" class="header__logo dim">
        <img
          class="main-header_logo"
          src="/assets/images/chris-carville-bike-lawyer-logo.png"
          width="414"
          height="100"
          alt="Chris Carville, Bike Lawyer logo">
      </a>
      <a href="/" class="header__logo dim">
        <img
          class="main-header--tagline"
          src="/assets/images/carville-legal-counsel-llc.png"
          width="146"
          height="32"
          alt="Carville Legal Counsel, LLC">
      </a>
    </div>
  </header>