---
title: Cycling Laws - Bicycle safety standards
layout: base.njk
description: Overview of bicycle safety standards in Kentucky.
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">601 KAR 14:020 - Bicycle safety standards</h1>

	<ul class="flow law-definitions">
		<li><strong>Section 1. Definitions.</strong> 
			<ol class="flow">
				<li>&ldquo;Bicycle&rdquo; means a device with two or more wheels, a seat, and handlebars that is propelled by human power, including a bicycle with an electric assist motor, but does not include a motorized bicycle or a tricycle.</li>
					<ul class="flow">
						<li>Means a device with an attached seat propelled primarily by human power upon which a person rides astride or upon, regardless of the number and size of the wheels in contact with the ground; and</li>
						<li>Does not mean a wheelchair designed for a person with a disability.</li>
					</ul>
				</li>
				<li>&ldquo;Hazard&rdquo; means a condition present on the roadway that constitutes a danger to a bicycle rider such as:
					<ul class="flow">
						<li>A fixed or moving object;</li>
						<li>A parked or moving vehicle;</li>
						<li>A pedestrian;</li>
						<li>A surface irregularity; or</li>
						<li>An animal.</li>
					</ul>
				</li>
				<li>&ldquo;Shared lane&rdquo; means a single lane of traffic less than fourteen (14) feet in width not including the gutter pan.</li>
			</ol>
		</li>
		<li><strong>Section 2. Lights and Reflectors.</strong>
			<ol class="flow">
				<li>A bicycle operated on a highway during the hours or atmospheric conditions described in KRS 189.030(1) shall display at least one (1) front light on either the bicycle or the bicyclist that is visible for 500 feet and capable of revealing substantial objects at least fifty (50) feet in front of the bicycle.</li>
				<li>A bicycle if operated on a highway or highway shoulder shall display on either the bicycle or the bicyclist:
					<ul class="flow">
						<li>One (1) red reflector or red light visible for at least 100 feet from the rear of the bicycle; and</li>
						<li>One (1) red light or a flashing red light visible from the rear of the bicycle for at least 500 feet during the hours or atmospheric conditions described in KRS 189.030(1).</li>
					</ul>
				</li>
			</ol>
		</li>
		<li><strong>Section 3. Horn or Bell.</strong>
			<ol class="flow">
				<li>A bicycle may be equipped with a bell, horn, or other device capable of making an abrupt sound, but shall not be equipped with a siren or whistle.</li>
				<li>A person operating a bicycle shall shout or sound the bell, horn, or other sound device as necessary to warn pedestrians or other bicycles of the approach of the bicycle.</li>
			</ol>
		</li>
		<li><strong>Section 4. Brakes</strong> A bicycle shall not be operated on a highway or highway shoulder without a brake or brakes adequate to control the movement of, or to stop, the bicycle within fifteen (15) feet at a speed of ten (10) miles per hour on a dry, level, clean pavement.</li>
		<li><strong>Section 5. Seat</strong>
			<ol class="flow">
				<li>(a) A bicyclist if operating on a highway or highway shoulder shall ride upon a seat attached to the bicycle.</li>
				<li>(b) A bicyclist operating on a highway or highway shoulder may transport a person or persons upon a seat or carrying device attached to the bicycle in a manner in which the seat or device is manufactured and designed to be used.
				<li>(2) A bicycle operated on a highway or highway shoulder shall not carry more than the number of persons for which the bicycle is designed or safely equipped.</li>
			</ol>
		</li>
		<li><strong>Section 6. Transporting a Package and Attaching to a Motor Vehicle.</strong>
			<ol class="flow">
				<li>A bicyclist operating on a highway or highway shoulder shall not carry a package, bundle, or article that prevents the operator from keeping one (1) hand on the handle bars.</li>
				<li>A bicyclist operating on a highway or highway shoulder shall not attach either the bicycle or himself or herself to a motor vehicle.</li>
			</ol>
		</li>
		<li><strong>Section 7. Operation of Bicycles.</strong>
			<ol class="flow">
				<li>A bicycle shall be operated in the same manner as a motor vehicle, except that the traffic conditions established in paragraphs (a) and (b) of this subsection shall apply.
					<ul class="flow">
						<li>A bicycle may be operated on the shoulder of a highway unless prohibited by law or ordinance.</li>
						<li>If a highway lane is marked for the exclusive use of bicycles, the operator of a bicycle shall use the lane unless:
							<ol class="flow">
								<li>Travelling at the legal speed;</li>
								<li>Preparing for or executing a left turn;</li>
								<li>Passing a slower moving vehicle;</li>
								<li>Avoiding a hazard;</li>
								<li>Avoiding the door zone of a parked vehicle; or</li>
								<li>Approaching a driveway or intersection where vehicles are permitted to turn right from a lane to the left of the bicycle lane.</li>
							</ol>
						</li>
					</ul>
				<li>Not more than two (2) bicycles shall be operated abreast in a single highway lane unless part of the roadway is exclusively for bicycle use. Persons riding two (2) abreast shall not impede the normal and reasonable movement of traffic.</li>
				<li>A bicycle operated in a highway lane with other vehicle types shall keep to the right unless:
					<ul class="flow">
						<li>Preparing for and executing a left turn;</li>
						<li>Passing a slower moving vehicle;</li>
						<li>The lane is too narrow to be considered a shared lane. A bicycle may be ridden far enough to the left to prevent overtaking vehicles from attempting to pass in the same lane;</li>
						<li>Approaching an intersection or driveway where right-turn movements are permitted. A bicycle may be ridden far enough to the left to avoid potential conflicts with right turning vehicles;</li>
						<li>It is necessary to avoid a hazard. A bicycle may be ridden far enough to the left to provide a reasonable safety space to the right;</li>
						<li>The bicycle is operating on a one (1) way street with two (2) or more marked traffic lanes. A bicyclist may keep to the left side of the roadway subject to the conditions in paragraphs (b) through (e) of this subsection;</li>
						<li>It is necessary for a cyclist to use a lane other than the right lane to continue his or her route;</li>
						<li>Preparing for and executing a left turn; or</li>
						<li>The bicycle is operating at or near a speed consistent with the prevailing flow of traffic.</li>
					</ul>
				</li>
				<li>(a)
					<ul class="flow">
						<li>A bicycle may be operated on a sidewalk or a crosswalk unless prohibited by law or ordinance.</li>
						<li>A bicyclist operating on a sidewalk or crosswalk shall have the rights and duties of a pedestrian in the same circumstances.</li>
						<li>A bicyclist using a sidewalk or crosswalk shall:
							<ol class="flow">
								<li>Slow to the speed of an ordinary walk where pedestrians are present or reasonably expected to be present or if approaching a crosswalk, driveway, or other crossing where a motor vehicle is expected</li>
								<li>Not suddenly leave the sidewalk or crosswalk and move into the path of another vehicle that is close enough to constitute an immediate hazard; and</li>
								<li>Yield to pedestrians using the sidewalk or crosswalk.</li>
							</ol>
						</li>
						<li>A bicyclist operating on a crosswalk or sidewalk shall obey an official traffic control device applicable to a pedestrian unless otherwise directed by a police officer or other officially designated person.</li>
						<li>A bicyclist operating on a crosswalk or sidewalk shall yield the right of way to a vehicle if crossing the road at a point other than within a marked crosswalk or within an unmarked crosswalk at an intersection.</li>
					</ul>
				</li>
				<li>A bicyclist operating on a highway or highway shoulder may proceed after stopping and if safe against a red light if a traffic signal fails to detect the bicycle.</li>
			</ol>
		</li>
		<li><strong>Section 8. Bicycle Parking.</strong>
			<ol class="flow">
				<li>Unless prohibited, a bicycle may be parked on a sidewalk if it does not impede the movement of pedestrians or traffic.</li>
				<li>A bicycle may be parked in the roadway at an angle to the curb or edge of the roadway at a location where bicycle parking is allowed.</li>
				<li>A bicycle shall not be parked or stopped as established for a vehicle in KRS 189.450(5)(b) through (j).</li>
				<li>A bicycle may be parked on the roadway abreast of another bicycle or bicycles near the side of a roadway where parking of vehicles is allowed.</li>
			</ol>
		</li>
	</ul>

	<section class="history flow" aria-labelledby="history-heading">
		<p>20 Ky.R. 1508; 2037; eff. 2-10-1994; 42 Ky.R. 25; eff. 7-7-2015; Crt eff. 3-11-2019.</p>
	</section>
</div>