---
title: Cycling Laws - Definitions, KRS § 189.010
layout: base.njk
description: Overview of cycling law definitions in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>
	
	<h1 id="main-heading">KRS § 189.010 - Definitions</h1>
	<p>As used in this chapter:</p>

	<ol class="flow law-definitions">
		<li>
			<strong>&ldquo;Department&rdquo;</strong> means the Department of Highways;
		</li>

		<li>
			<strong>&ldquo;Crosswalk&rdquo;</strong> means:
			<ul class="flow">
				<li>That part of a roadway at an intersection within the connections of the lateral lines of the sidewalks on opposite sides of the highway measured from the curbs or in the absence of curbs, from the edges of the traversable roadway; or</li>
				<li>Any portion of a roadway at an intersection or elsewhere distinctly indicated for pedestrian crossing by lines or other markings on the surface;</li>
			</ul>
		</li>

		<li>
			<strong>&ldquo;Highway&rdquo;</strong> means any public road, street, avenue, alley or boulevard, bridge, viaduct, or trestle and the approaches to them and includes private residential roads and parking lots covered by an agreement under KRS 61.362, off-street parking facilities offered for public use, whether publicly or privately owned, except for-hire parking facilities listed in KRS 189.700;
		</li>

		<li>
			<strong>&ldquo;Intersection&rdquo;</strong> means:
			<ul class="flow">
				<li>The area embraced within the prolongation or connection of the lateral curb lines, or, if none, then the lateral boundary lines of the roadways of two (2) highways which join one another, but do not necessarily continue, at approximately right angles, or the area within which vehicles traveling upon different highways joining at any other angle may come into conflict; or</li>
				<li>Where a highway includes two (2) roadways thirty (30) feet or more apart, then every crossing of each roadway of such divided highway by an intersecting highway shall be regarded as a separate intersection. If the intersecting highway also includes two (2) roadways thirty (30) feet or more apart, every crossing of two (2) roadways of the highways shall be regarded as a separate intersection. The junction of a private alley with a public street or highway shall not constitute an intersection;</li>
			</ul>
		</li>

		<li>
			<strong>&ldquo;Manufactured home&rdquo;</strong> has the same meaning as defined in KRS 186.650;
		</li>

		<li>
			<strong>&ldquo;Motor truck&rdquo;</strong> means any motor-propelled vehicle designed for carrying freight or merchandise. It shall not include self-propelled vehicles designed primarily for passenger transportation but equipped with frames, racks, or bodies having a load capacity of not exceeding one thousand (1,000) pounds;
		</li>

		<li>
			<strong>&ldquo;Operator&rdquo;</strong> means the person in actual physical control of a vehicle;
		</li>

		<li>
			<strong>&ldquo;Pedestrian&rdquo;</strong> means any person afoot or in a wheelchair;
		</li>

		<li>
			<strong>&ldquo;Right-of-way&rdquo;</strong> means the right of one (1) vehicle or pedestrian to proceed in a lawful manner in preference to another vehicle or pedestrian approaching under such circumstances of direction, speed, and proximity as to give rise to danger of collision unless one grants precedence to the other;
		</li>

		<li>
			<strong>&ldquo;Roadway&rdquo;</strong> means that portion of a highway improved, designed, or ordinarily used for vehicular travel, exclusive of the berm or shoulder. If a highway includes two (2) or more separate roadways, the term “roadway” as used herein shall refer to any roadway separately but not to all such roadways collectively;
		</li>

		<li>
			<strong>&ldquo;Safety zone&rdquo;</strong> means the area or space officially set apart within a roadway for the exclusive use of pedestrians and which is protected or is so marked or indicated by adequate signs as to be plainly visible at all times while set apart as a safety zone;
		</li>

		<li>
			<strong>&ldquo;Semitrailer&rdquo;</strong> means a vehicle designed to be attached to, and having its front end supported by, a motor truck or truck tractor, intended for the carrying of freight or merchandise and having a load capacity of over one thousand (1,000) pounds;
		</li>

		<li>
			<strong>&ldquo;Truck tractor&rdquo;</strong> means any motor-propelled vehicle designed to draw and to support the front end of a semitrailer. The semitrailer and the truck tractor shall be considered to be one (1) unit;
		</li>

		<li>
			<strong>&ldquo;Sharp curve&rdquo;</strong> means a curve of not less than thirty (30) degrees;
		</li>

		<li>
			<strong>&ldquo;State Police&rdquo;</strong> includes any agency for the enforcement of the highway laws established pursuant to law;
		</li>

		<li>
			<strong>&ldquo;Steep grade&rdquo;</strong> means a grade exceeding seven percent (7%);
		</li>

		<li>
			<strong>&ldquo;Trailer&rdquo;</strong> means any vehicle designed to be drawn by a motor truck or truck-tractor, but supported wholly upon its own wheels, intended for the carriage of freight or merchandise and having a load capacity of over one thousand (1,000) pounds;
		</li>

		<li>
			<strong>&ldquo;Unobstructed highway&rdquo;</strong> means a straight, level, first-class road upon which no other vehicle is passing or attempting to pass and upon which no other vehicle or pedestrian is approaching in the opposite direction, closer than three hundred (300) yards;
		</li>

		<li>
			<strong>&ldquo;Vehicle&rdquo;</strong> includes:
			<ol class="flow">
				<li>All agencies for the transportation of persons or property over or upon the public highways of the Commonwealth; and</li>
				<li>All vehicles passing over or upon the highways.</li>
			</ol>
			<strong>&ldquo;Motor vehicle&rdquo;</strong> includes all vehicles, as defined in paragraph (a) of this subsection, except:
			<ol class="flow">
				<li>Road rollers;</li>
				<li>Road graders;</li>
				<li>Farm tractors;</li>
				<li>Vehicles on which power shovels are mounted;</li>
				<li>Construction equipment customarily used only on the site of construction and which is not practical for the transportation of persons or property upon the highways;</li>
				<li>Vehicles that travel exclusively upon rails;</li>
				<li>Vehicles propelled by electric power obtained from overhead wires while being operated within any municipality or where the vehicles do not travel more than five (5) miles beyond the city limits of any municipality;</li>
				<li>Vehicles propelled by muscular power; and</li>
				<li>Electric low-speed scooters;</li>
			</ol>
		</li>

		<li>
			<strong>&ldquo;Reflectance&rdquo;</strong> means the ratio of the amount of total light, expressed in a percentage, which is reflected outward by the product or material to the amount of total light falling on the product or material;
		</li>

		<li>
			<strong>&ldquo;Sunscreening material&rdquo;</strong> means a product or material, including film, glazing, and perforated sunscreening, which, when applied to the windshield or windows of a motor vehicle, reduces the effects of the sun with respect to light reflectance or transmittance;
		</li>

		<li>
			<strong>&ldquo;Transmittance&rdquo;</strong> means the ratio of the amount of total light, expressed in a percentage, which is allowed to pass through the product or material, including glazing, to the amount of total light falling on the product or material and the glazing;
		</li>

		<li>
			<strong>&ldquo;Window&rdquo;</strong> means any device designed for exterior viewing from a motor vehicle, except the windshield, any roof-mounted viewing device, and any viewing device having less than one hundred fifty (150) square inches in area;
		</li>

		<li>
			<strong>&ldquo;All-terrain vehicle&rdquo;</strong> means any motor vehicle used for recreational off-road use;
		</li>

		<li>
			<strong>&ldquo;Nondivisible load,&rdquo;</strong> as pertains to state highways that are not part of the national truck network established pursuant to 23 C.F.R. pt. 658, means a load or vehicle, that if separated into smaller loads or vehicles:
			<ul class="flow">
				<li>Compromises the intended use of the vehicle, making it unable to perform the function for which it was intended;</li>
				<li>Destroys the value of the load or vehicle, making it unusable for its intended purpose; or</li>
				<li>Requires more than four (4) work hours to dismantle and reassemble using appropriate equipment;</li>
			</ul>
		</li>

		<li>
			<strong>&ldquo;Electric low-speed scooter&rdquo;</strong> means a device that:
			<ul class="flow">
				<li>Weighs less than one hundred (100) pounds;</li>
				<li>Is equipped with wheels;</li>
				<li>Is equipped with handlebars;</li>
				<li>Is equipped with a brake adequate enough to stop and park the device;</li>
				<li>Is designed to be stood or sat upon;</li>
				<li>Is propelled by an electric motor, human power, or both; and</li>
				<li>Is designed to operate at a maximum speed of twenty (20) miles per hour, on a paved level surface, with or without human propulsion; and</li>
			</ul>
		</li>

		<li>
			<strong>&ldquo;Highway work zone&rdquo;</strong> means that lane or portion of a state-maintained highway open to vehicular traffic and the affected area adjacent to a lane, berm, or shoulder of a state-maintained highway upon which construction, reconstruction, resurfacing, maintenance, inspection, or other work of that nature is being conducted.
		</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2019 c 22, § 3, c 40, § 4, eff. 6-27-19; 2017 c 35, § 1, eff. 3-20-17; 1998 c 47, § 1, c 270, § 1, c 587, § 2, eff. 7-15-98; 1996 c 327, § 1, eff. 7-15-96; 1994 c 42, § 6, eff. 7-15-94; 1990 c 400, § 1, eff. 7-13-90; 1988 c 244, § 1; 1978 c 46, § 1; 1974 c 46, § 1; 1958 c 126, § 22; 1956 2nd ex s, c 1, § 1; 1942 c 78, § 1, 2, c 208, § 1; KS 2739g-1, 2739g-69gg, 2739g-80</p>
	</section>
</div>