---
title: Cycling Laws - KRS § 189.810 - Definitions
layout: base.njk
description: Overview of KRS § 189.810 - Definitions laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.810 - Definitions</h1>

	<ol class="flow law-definitions">
		<li>&ldquo;Slow-moving vehicle&rdquo; includes farm machinery, including animal-drawn vehicles, highway construction and maintenance vehicles, and any other type of vehicle, except bicycles and electric low-speed scooters, capable of a rate of speed no greater than twenty-five (25) miles per hour.</li>
		<li>&ldquo;Slow-moving vehicle emblem&rdquo; consists of a fluorescent yellow-orange triangle with a dark red reflective border, as specified in American Society of Agricultural Engineers R276 or Society of Automotive Engineers J943 standards, or consisting of reasonably similar reflective qualities as specified in said standards.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2019 c 22, § 8, eff. 6-27-19; 1974 c 101, § 5, eff. 6-21-74; 1970 c 45, § 1</p>
	</section>
</div>