---
title: Cycling Laws - Horns and Other Sound Devices
layout: base.njk
description: Overview of horns and other sound devices law in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.080 - Horns and other sound devices</h1>

	<p>Every motor vehicle, when in use on a highway, shall be equipped with a horn or other device capable of making an abrupt sound sufficiently loud to be heard from a distance of at least two hundred (200) feet under all ordinary traffic conditions. Every person operating an automobile or bicycle shall sound the horn or sound device whenever necessary as a warning of the approach of such vehicle to pedestrians or other vehicles, but shall not sound the horn or sound device unnecessarily. A bell may be used on a bicycle.</p>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2006 c 173, § 7, eff. 7-12-06; 1974 c 101, § 4, eff. 6-21-74; 1970 c 93, § 9; 1952 c 167; 1942 c 208, § 1; KS 2739g-28</p>
	</section>
</div>