---
title: Cycling Laws
layout: base.njk
description: Overview of cycling laws in Kentucky that impact cyclists.
---

<div class="wrapper page-contact column-aside">
    <div class="col flow">
    <h1>Thoughts on Kentucky Bicycle Laws</h1>
    <p>The following Commentary is not intended to be specific legal advice for a specific situation. Rather, the following commentary intends to provide an overview of Kentucky Statutes and Regulations that impact cyclist using Kentucky&apos;s highways.Should legal advice be necessary, the author can be reached at <a href="mailto:Chris@CarvilleLegal.com?subject=From%20the%20website%20legal%20advice">Chris@CarvilleLegal.com</a>.</p>
    <section class="flow laws" aria-label="Kentucky Bike Laws">
        <details class="flow">
            <summary id="law1">How Does Kentucky Define A &ldquo;Bicycle&rdquo;?</summary>
            <div class="flow" aria-labelledby="law1">
                <p>Why not begin with the beginning? What are you riding on and how is it defined by Kentucky law? Defining a bike is
                    easier said than done. We certainly know a bicycle when we see one, don't we? A Penny-Farthing, a recumbent bicycle, a
                    tricycle (with brakes), a four-wheel cycle, can all constitute bicycles under Kentucky law. Unlike other States,
                    Kentucky does not rely on wheel counting to define a bicycle. You will find plenty of references to a
                    &ldquo;bicycle&rdquo; in the Kentucky Revised Statues, however, you will not find a definition of &ldquo;bicycle&rdquo;
                    in those legal tomes. The Kentucky Legislature deferred to the Transportation Cabinet to &ldquo;promulgate
                    administrative regulations &hellip; to set forth standards for bicycle equipment and the safe operation of a bicycle
                    through KRS 189.287.&rdquo;</p>
                <p>Per 601 Kentucky Administrative Regulation Section 1 a &ldquo;Bicycle&rdquo; &ldquo;[m]eans a device with an attached
                    seat propelled primarily by human power upon which a person rides astride or upon, regardless of the number and size of
                    the wheels in contact with the ground.&rdquo; This definition in subsection (1)(b) goes on to exclude a wheelchair from
                    the foregoing definition. So, a bicycle in the Commonwealth of Kentucky is characterized by an &ldquo;attached
                    seat&rdquo; and propulsion by &ldquo;primarily human power.&rdquo; Personally, I like this definition, as relying on the
                    number of wheels can be a constraining way to define a bicycle.</p>
                <h2>Speed and Legal Considerations</h2>
                <p>Speed is in the eye of the beholder. However, the Kentucky Revised Statutes do take care to exclude bicycles as
                    &ldquo;slow-moving vehicle&rdquo; for purposes of fluorescent yellow-orange triangles in KRS 189.810.</p>
                <p>Judges and juries will apply the Kentucky Revised Statutes in Kentucky's courtrooms to determine violations of
                    traffic laws or to determine liability in civil lawsuits where a cyclist is injured or killed as a result of another
                    vehicle operator's negligence.</p>
                <h2>Vehicles vs. Motor Vehicles</h2>
                <p>One must be careful to determine whether the statute in question applies to &ldquo;vehicles&rdquo; generally or
                    &ldquo;motor vehicles&rdquo; in particular as KRS 189.010(19)(b)(8) carves out &ldquo;vehicles propelled by muscular
                    power.&rdquo; Where the Kentucky Revised Statutes refers generally to &ldquo;vehicles&rdquo; and is silent as to
                    &ldquo;bicycle&rdquo; or &ldquo;motor vehicle&rdquo;, the statute will in all likelihood still apply to cyclists.</p>
                <p>A bicycle will be considered a &ldquo;vehicle&rdquo; under the Kentucky Revised Statutes as a bicycle is an
                    &ldquo;agency&rdquo; for &rdquo;the transportation of persons over or upon the public highways of the
                    Commonwealth.&rdquo; KRS 189.010(19)(a) defines a &ldquo;vehicle&rdquo; as including:</p>
                <ul>
                    <li>All agencies for the transportation of persons or property over or upon the public highways of the Commonwealth; and</li>
                    <li>All vehicles passing over or upon the highways.</li>
                </ul>
                <h2>Local Regulations</h2>
                <p>Further, one must be careful to analyze whether the highway is subject to additional regulation in the form of a
                    local ordinance or law so long as those ordinance or local regulations do not conflict with existing state laws. This
                    Commentary only addresses Kentucky Revised Statutes and Kentucky Administrative Regulations and does not catalogue local
                    regulations impacting or addressing cyclists in the Commonwealth.</p>
            </div>
        </details>
        <details class="flow">
            <summary id="law2">How does Kentucky Define a Highway and Roadway?</summary>
            <div class="flow" aria-labelledby="law2">
                <p>First and foremost, you can ride your bicycle on any bicycle path. The more complicated analysis is when you take
                    your bicycle out on a &ldquo;highway&rdquo; in the Commonwealth of Kentucky.</p>
                <p>KRS 189.010(3) defines a &ldquo;highway&rdquo; as follows:</p>
                <blockquote>
                    <p>&ldquo;Highway&rdquo; means any public road, street, avenue, alley or boulevard, bridge, viaduct, or trestle and the
                        approaches to them and includes private residential roads and parking lots covered by an agreement under KRS 61.362,
                        off-street parking facilities offered for public use, whether publicly or privately owned, except for-hire parking
                        facilities listed in KRS 189.700[.]</p>
                </blockquote>
                <p>The Kentucky Administrative Regulations at 601 KAR 1:019(3) defines a &ldquo;fully controlled access highway&rdquo;
                    as follows:</p>
                <blockquote>
                    <p>&ldquo;Fully controlled access highway&rdquo; means a highway that:</p>
                    <ul>
                        <li>(a) Gives preference to through traffic;</li>
                        <li>(b) Has access only at selected public roads or streets; and</li>
                        <li>(c) Has no highway grade crossing or intersection.</li>
                    </ul>
                </blockquote>
                <p>KRS 189.010(10) defines a &ldquo;roadway&rdquo; as follows:</p>
                <blockquote>
                    <p>&ldquo;Roadway&rdquo; means that portion of a highway improved, designed, or ordinarily used for vehicular travel,
                        exclusive of the berm or shoulder. If a highway includes two (2) or more separate roadways, the term
                        &ldquo;roadway&rdquo; as used herein shall refer to any roadway separately but not to all such roadways collectively[.]</p>
                </blockquote>
                <p>Where a cyclist is inside the &ldquo;roadway&rdquo;, that portion of the &ldquo;highway&rdquo; excludes the berm and
                    shoulder. Where the highway has white lines, the roadway would appear to be that portion of the highway between the
                    outside edge of those white lines. However, &ldquo;shoulder&rdquo;, &ldquo;berm&rdquo; or &ldquo;white lines&rdquo; are
                    not defined terms within the Kentucky Revised Statutes or the Kentucky Administrative Code. A good rule of thumb would
                    be that while inside the white lines of a highway a cyclist is an &ldquo;operator&rdquo; of a &ldquo;vehicle&rdquo;
                    subject to all of the rules of the road that other non-bicycle &ldquo;vehicles&rdquo; must obey as detailed below under
                    the heading &ldquo;What is a Cyclist&apos;s Duty of Care in Kentucky?&rdquo;</p>
                <p>Whether a cyclist must remain outside of the white line in the shoulder or berm (where available) pursuant to 601 KAR
                    14:020 Section 7(3)(c) is very much an open question under Kentucky law as discussed below under the headings
                    &ldquo;Where Can I Ride my Bicycle in Kentucky&rdquo;.</p>
            </div>
        </details>
        <details class="flow">
            <summary id="law3">Where Can I Ride My Bicycle in Kentucky?</summary>
            <div class="flow" aria-labelledby="law3">
                <p>The Kentucky Administrative Regulations strictly prohibit the operation of a bicycle on Commonwealth Highways in two
                    circumstances: within &ldquo;the right-of-way&rdquo; of a &ldquo;fully controlled access highway&rdquo; and where there
                    is a designated bike lane.</p>
                <h2>Prohibition on Right-of-Way Within Fully Controlled Access Highway</h2>
                <p>603 KAR 5:025 Section 4 states:</p>
                <blockquote>
                    <p>Section 4. Limitations. The following shall be prohibited within the right-of-way of a fully controlled access highway:</p>
                    <ul>
                        <li>Bicycles or motor scooters[.]</li>
                    </ul>
                </blockquote>
                <p>This regulation relies on a peculiar subclassification of the highway. Rather than rely on the foregoing definition
                    of a roadway that can have distinct physical boundaries, the author of this regulation relies on a legal right &mdash; the right of a vehicle operator to proceed unimpeded within his or her path of travel.</p>
                <p>KRS 189.010(9) defines this legal right as follows:</p>
                <blockquote>
                    <p>&ldquo;Right-of-way&rdquo; means the right of one (1) vehicle or pedestrian to proceed in a lawful manner in preference to another vehicle or pedestrian approaching under such circumstances of direction, speed, and proximity as to give rise to danger of collision unless one grants precedence to the other[.]</p>
                </blockquote>
                <p>Clearly the foregoing definition has no physical or spatial delineations. As the Kentucky Revised Code does not specifically regulate the rights of cyclists within the &ldquo;highway&apos;s&rdquo; shoulder or berm as defined by KRS 189.010(3) nor within &ldquo;roadway&rdquo; of a highway as defined by KRS 189.010(10), there is an open question under 603 KAR 5:025 as to who has right-of-way between a cyclist and a motor vehicle in a &ldquo;fully controlled access highway&apos;s&rdquo; roadway and berm/shoulder. One may argue that a shoulder or berm cannot have a right-of-way unless a vehicle operator is executing a right hand turn or approaching an intersection, therefore the only right-of-way contemplated by 603 KAR 5:025 would be within the roadway portion of a fully controlled access highway. Either way, the use of right-of-way language rather than physical delineations invites some level of confusion.</p>
                <p>Regardless of the foregoing lack of precision within 603 KAR 5:025, best practices would suggest that a cyclist
                    remain in the berm or shoulder of a &ldquo;fully controlled access highway&rdquo; and avoid traveling within its
                    &ldquo;roadway.&rdquo; As the slower vehicle operator, the cyclist would have to yield or &ldquo;grant precedence&rdquo;
                    to the faster moving motor vehicle traveling in the same direction.</p>
                <h2>Requirement to Use Bike Lanes Along Highway</h2>
                <p>The second area subject to a strict prohibition is where there are designated bike lanes.</p>
                <blockquote>
                    <p>601 KAR 14:020 Section 7 states as follows:</p>
                    <p>Section 7. Operation of Bicycles. (1) A bicycle shall be operated in the same manner as a motor vehicle, except that
                        the traffic conditions established in paragraphs (a) and (b) of this subsection shall apply.</p>
                    <ul>
                        <li>(a) A bicycle may be operated on the shoulder of a highway unless prohibited by law or ordinance.</li>
                        <li>(b) If a highway lane is marked for the exclusive use of bicycles, the operator of a bicycle shall use the lane unless:
                            <ol>
                                <li>Travelling at the legal speed;</li>
                                <li>Preparing for or executing a left turn;</li>
                                <li>Passing a slower moving vehicle;</li>
                                <li>Avoiding a hazard;</li>
                                <li>Avoiding the door zone of a parked vehicle;</li>
                                <li>Approaching a driveway or intersection where vehicles are permitted to turn right from a lane to the left of the
                                    bicycle lane.</li>
                            </ol>
                        </li>
                    </ul>
                </blockquote>
                <p>Simply stated, unless one of the six exceptions in Section 7(b) apply, if there is a highway lane &ldquo;marked for the exclusive use of bicycles, the operator of a bicycle shall use [that] lane[.]&rdquo; 601 KAR 14:020 Section 7 makes the use of bike lanes on a highway mandatory.</p>
                <h2>A Cyclist Is Permitted to Ride Within Shoulder of The Highway</h2>
                <p>601 KAR 14:020 Section 7 sets forth that a cyclist is permitted to operate his or her bicycle in the same manner as motor vehicles on Kentucky&apos;s highways: &ldquo;A bicycle shall be operated in the same manner as a motor vehicle[.]&rdquo; As set forth above, 601 KAR 14:020 does require use of a bike lane if designated on a highway. However, with regard to the use of the shoulder, 601 KAR 14:020 sets forth permissive &ldquo;may&rdquo; language in Section 7(1)(a) with regard to the use of a highway&apos;s shoulder:</p>
                <blockquote>
                    <p>(1) A bicycle shall be operated in the same manner as a motor vehicle, except that the traffic conditions established in paragraphs (a) and (b) of this subsection shall apply.</p>
                    <ul>
                        <li>(a) A bicycle may be operated on the shoulder of a highway unless prohibited by law or ordinance.</li>
                    </ul>
                </blockquote>
                <p>The language of this Regulation does not require the use of a highway&apos;s shoulder with mandatory or
                    &ldquo;shall&rdquo; language like we see with regard to bike lanes in Section 7(1)(b).</p>
                <h2>Circumstances Where a Cyclist Can Ride in &ldquo;Shared Lanes&rdquo;</h2>
                <p>The Kentucky Revised Statutes does not define a &ldquo;shared lane.&rdquo; However, the Kentucky Administrative
                    Regulations does offer a definition in 601 KAR 14:020 Section 1(3):</p>
                <blockquote>
                    <p>&ldquo;Shared lane&rdquo; means a single lane of traffic less than fourteen (14) feet in width not including the
                        gutter pan.</p>
                </blockquote>
                <p>601 KAR 14:020 Section 7(3)(c) states:</p>
                <blockquote>
                    <p>(3) A bicycle operated in a highway lane with other vehicle types shall keep to the right unless:</p>
                    <ul>
                        <li>(c) The lane is too narrow to be considered a shared lane. A bicycle may be ridden far enough to the left to prevent
                            overtaking vehicles from attempting to pass in the same lane;</li>
                    </ul>
                </blockquote>
            </div>
        </details>
        <details class="flow">
            <summary id="law4">Cyclists as Vehicle Operators. What Are The Exceptions to the Keep Right Rule?</summary>
            <div class="flow" aria-labelledby="law4">
                <h2>&ldquo;Any&rdquo; Vehicle Shall Travel Upon The Right Side Of The Highway</h2>
                <p>As set forth above there are circumstances where cyclists in Kentucky are expressly prohibited from riding within a
                    highway&rsquo;s roadway. Recall that 603 KAR 5:025 Section 4, which governs fully Controlled Access Highways, prohibits
                    bicycle travel within &ldquo;the right of way&rdquo; of said highways and 601 KAR 14:020 Section 7 (1)(b), which
                    mandates use of bike lanes, when available.</p>
                <p>KRS 189.300 would also require that a cyclist &ldquo;keep to the right&rdquo; when riding on a highway in the
                    Commonwealth of Kentucky as a vehicle operator. Recall that KRS 189.010 broadly defines a &ldquo;highway&rdquo; where
                    KRS 189.010(10) narrowly defines a &ldquo;roadway&rdquo; exclusive of berm or shoulder.</p>
                <h2>KRS 189.300 states as follows with regard to &ldquo;any&rdquo; vehicle:</h2>
                <ol>
                    <li>The operator of any vehicle when upon a highway shall travel upon the right side of the highway whenever possible,
                        and unless the left side of the highway is clear of all other traffic or obstructions for a sufficient distance ahead to
                        permit the overtaking and passing of another vehicle to be completed without interfering with the operation of any
                        vehicle approaching from the opposite direction or any vehicle being overtaken. The overtaking vehicle shall return to
                        the proper traffic lane as soon as practicable and, if the passing vehicle enters the oncoming traffic lane, before
                        coming within two hundred (200) feet of any approaching vehicle.</li>
                    <li>The operator of any vehicle moving slowly upon a highway shall keep his vehicle as closely as practicable to the
                        right-hand boundary of the highway, allowing more swiftly moving vehicles reasonably free passage to the left, unless
                        signage or markings indicate otherwise.</li>
                </ol>
                <h2>There are Nine Exceptions to Kentucky&rsquo;s &ldquo;Keep Right&rdquo; Rule</h2>
                <p>It must be noted that the Kentucky Administrative Regulation addressing bicycles on highways does not track the
                    &ldquo;roadway&rdquo; language we see in KRS 189.010(10). Instead 601 KAR 14:020 Section 7(3) refers to a &ldquo;highway
                    lane&rdquo; which is not a defined term in KRS Chapter 189. One may have to presume that a &ldquo;highway lane&rdquo; is
                    a lane of travel within a highway&rsquo;s roadway.</p>
                <p>Where that is the case, a cyclist must &ldquo;keep right&rdquo; as set forth in KRS 189.300 subject to nine
                    exceptions set forth in 601 KAR 14:020 Section 7(3)(a) through (i):</p>
                <ul>
                    <li>(a) Preparing for and executing a left turn;</li>
                    <li>(b) Passing a slower moving vehicle;</li>
                    <li>(c) The lane is too narrow to be considered a shared lane. A bicycle may be ridden far enough to the left to prevent
                        overtaking vehicles from attempting to pass in the same lane;</li>
                    <li>(d) Approaching an intersection or driveway where right-turn movements are permitted. A bicycle may be ridden far
                        enough to the left to avoid potential conflicts with right turning vehicles;</li>
                    <li>(e) It is necessary to avoid a hazard. A bicycle may be ridden far enough to the left to provide a reasonable safety
                        space to the right;</li>
                    <li>(f) The bicycle is operating on a one (1) way street with two (2) or more marked traffic lanes. A bicyclist may keep
                        to the left side of the roadway subject to the conditions in paragraphs (b) through (e) of this subsection;</li>
                    <li>(g) It is necessary for a cyclist to use a lane other than the right lane to continue his or her route;</li>
                    <li>(h) Preparing for and executing a left turn;</li>
                    <li>(i) The bicycle is operating at or near a speed consistent with the prevailing flow of traffic.</li>
                </ul>
            </div>
        </details>
        <details class="flow">
            <summary id="law5">Can Cyclists Ride Two Abreast in Kentucky?</summary>
            <div class="flow" aria-labelledby="law5">
                <p>Cyclists in Kentucky can ride two abreast so long as they do not &ldquo;impede the normal and reasonable movement of
                    traffic&rdquo; and within the area of the highway &ldquo;marked exclusively for bicycle use.&rdquo; KRS 189.340(2)(c)
                    states as follows:</p>
                <blockquote>
                    <p>The operator of a bicycle or electric low-speed scooter shall not ride more than two (2) abreast on a single highway
                        lane unless operating on any part of the roadway marked exclusively for bicycle use. Persons riding two (2) abreast
                        shall not impede the normal and reasonable movement of traffic.</p>
                </blockquote>
            </div>
        </details>
        <details class="flow">
            <summary id="law6">What is a Cyclist&apos;s Duty of Care in Kentucky?</summary>
            <div class="flow" aria-labelledby="law6">
                <p>&ldquo;Operators&rdquo; of vehicles in the Commonwealth have a codified duty to &ldquo;operate [their] vehicle in a
                    careful manner&rdquo; pursuant to KRS 189.290. This is a common law duty that would exist regardless of legislation. The
                    Kentucky Legislature simply passed a law to confirm the duty of care &ldquo;operators&rdquo; of &ldquo;vehicles&rdquo;
                    owe to one another on Kentucky&apos;s highways. The Kentucky Administrative Regulations further stepped in and regulated
                    the &ldquo;manner&rdquo; in which a bicycle is to be operated. 601 KAR 4:020 Section 7 states:</p>
                <blockquote>
                    <p>A bicycle shall be operated in the same manner as a motor vehicle, except that the traffic conditions established in
                        paragraphs (a) and (b) of this subsection shall apply.</p>
                    <ul>
                        <li>(a) A bicycle may be operated on the shoulder of a highway unless prohibited by law or ordinance.</li>
                        <li>(b) If a highway lane is marked for the exclusive use of bicycles, the operator of a bicycle shall use the lane
                            unless [one of six exceptions apply]:
                            <ol>
                                <li>1. Travelling at the legal speed;
                                </li>
                                <li>2. Preparing for or executing a left turn;
                                </li>
                                <li>3. Passing a slower moving vehicle;</li>
                                <li>4. Avoiding a hazard;
                                </li>
                                <li>5. Avoiding the door zone of a parked vehicle; or
                                </li>
                                <li>6. Approaching a driveway or intersection where vehicles are permitted to turn right from a lane to the left of the
                                    bicycle lane.</li>
                            </ol>
                        </li>
                    </ul>
                </blockquote>
                <p>It should be noted that the language of 601 KAR 4:020 Section 7 tracks the &ldquo;operator&rdquo; language we see in
                    KRS 189.010(7) and &ldquo;vehicle&rdquo; language we see in KRS 189.010(19).</p>
            </div>
        </details>
        <details class="flow">
            <summary id="law7">What Duty of Care Do Motorists Owe Cyclists? Kentucky&apos;s 3-Foot Rule.</summary>
            <div class="flow" aria-labelledby="law7">
                <p>As set forth above, per both common law and KRS 189.290, motorists in Kentucky owe cyclists a duty to &ldquo;operate
                    [their] vehicles in a careful manner.&rdquo; However, where a motorist passes a cyclist traveling in the same direction,
                    that motorist owes the cyclist a specific duty to maintain a minimum of three feet between the vehicle and the bicycle.</p>
                <p>
                    <strong>KRS 189.340(2)(a)</strong>
                    states as follows:</p>
                <blockquote>
                    <p>Vehicles overtaking a bicycle or electric low-speed scooter proceeding in the same direction shall:</p>
                    <ol>
                        <li>If there is more than one (1) lane for traffic proceeding in the same direction, move the vehicle to the immediate
                            left, if the lane is available and moving in the lane is reasonably safe; or</li>
                        <li>If there is only one (1) lane for traffic proceeding in the same direction, pass to the left of the bicycle or
                            electric low-speed scooter at a distance of not less than three (3) feet between any portion of the vehicle and the
                            bicycle or electric low-speed scooter and maintain that distance until safely past the overtaken bicycle or electric
                            low-speed scooter. If space on the roadway is not available to have a minimum distance of three (3) feet between the
                            vehicle and the bicycle or electric low-speed scooter, then the driver of the passing vehicle shall use reasonable
                            caution in passing the bicyclist or electric low-speed scooter operator.</li>
                    </ol>
                </blockquote>
            </div>
        </details>
        <details class="flow">
            <summary id="law8">What Bicycle Equipment is Mandatory in Kentucky?</summary>
            <div class="flow" aria-labelledby="law8">
                <p>A bicycle in Kentucky must have a bell or horn or other sound device to sound a warning when approaching other
                    pedestrians or other vehicles.</p>
                <h2>KRS 189.080</h2>
                <p>States as follows:</p>
                <blockquote>
                    <p>Every motor vehicle, when in use on a highway, shall be equipped with a horn or other device capable of making an
                        abrupt sound sufficiently loud to be heard from a distance of at least two hundred (200) feet under all ordinary traffic
                        conditions. Every person operating an automobile or bicycle shall sound the horn or sound device whenever necessary as a
                        warning of the approach of such vehicle to pedestrians or other vehicles, but shall not sound the horn or sound device
                        unnecessarily. A bell may be used on a bicycle.</p>
                </blockquote>
                <h2>601 KAR 14:020, Section 3</h2>
                <blockquote>
                    <p>(1) A bicycle may be equipped with a bell, horn, or other device capable of making an abrupt sound, but shall not be
                        equipped with a siren or whistle.</p>
                    <p>(2) A person operating a bicycle shall shout or sound the bell, horn, or other sound device as necessary to warn
                        pedestrians or other bicycles of the approach of the bicycle.</p>
                </blockquote>
                <p>A bicycle does not have to display a slow-moving vehicle emblem and is exempted from KRS 189.050&apos;s lighting
                    requirements for motor vehicles.</p>
                <h2>KRS 189.830</h2>
                <blockquote>
                    <p>(1) The slow-moving vehicle emblem shall be restricted to the uses specified herein and the use on any other type of
                        vehicle or on other objects is prohibited.</p>
                    <p>(5) The slow-moving vehicle emblem shall not be used on a bicycle.</p>
                </blockquote>
                <h2>KRS 189.050, Subsection 4</h2>
                <blockquote>
                    <p>(4) When in operation on any highway, slow-moving or motorless vehicles, except bicycles and electric low-speed
                        scooters, shall have at least one (1) light on the left side of the vehicle whether from the front or rear, showing
                        white and of sufficient power to reveal clearly the outline of the left side of the vehicle and in such a manner that
                        the outline may be observed clearly by approaching vehicles from a distance of at least five hundred (500) feet.</p>
                </blockquote>
                <p>However, a bicycle must have a red reflector or red light visible at 100 feet during the day and must have a red
                    light or flashing red light visible at 500 feet at low light and one-half hour after sunset to one-half hour before
                    sunrise as set forth in KRS 189.030.</p>
                <h2>601 KAR 14:020, Section 2</h2>
                <blockquote>
                    <p>(1) A bicycle operated on a highway during the hours or atmospheric conditions described in KRS 189.030(1) shall
                        display at least one (1) front light on either the bicycle or the bicyclist that is visible for 500 feet and capable of
                        revealing substantial objects at least fifty (50) feet in front of the bicycle.</p>
                    <p>(2) A bicycle if operated on a highway or highway shoulder shall display on either the bicycle or the bicyclist:</p>
                    <ul>
                        <li>One (1) red reflector or red light visible for at least 100 feet from the rear of the bicycle; and</li>
                        <li>One (1) red light or a flashing red light visible from the rear of the bicycle for at least 500 feet during the
                            hours or atmospheric conditions described in KRS 189.030(1).</li>
                    </ul>
                </blockquote>
                <p>A bicycle in Kentucky must have brakes.</p>
                <h2>601 KAR 14:020, Section 4</h2>
                <blockquote>
                    <p>A bicycle shall not be operated on a highway or highway shoulder without a brake or brakes adequate to control the
                        movement of, or to stop, the bicycle within fifteen (15) feet at a speed of ten (10) miles per hour on a dry, level,
                        clean pavement.</p>
                </blockquote>
            </div>
        </details>
        <details class="flow">
            <summary id="law9">Are Idaho Stops Legal in Kentucky?</summary>
            <div class="flow" aria-labelledby="law9">
                <p>Not really. A type of &ldquo;Idaho Stop&rdquo; is legal in Kentucky provided &ldquo;the traffic signal fails to
                    detect the bicycle.&rdquo;</p>
                <blockquote>
                    <p>601 KAR 14:020 Section 7(5) states as follows:</p>
                    <p>A bicyclist operating on a highway or highway shoulder may proceed after stopping and if safe against a red light if
                        a traffic signal fails to detect the bicycle.</p>
                </blockquote>
                <p>This regulation is not written in the vein of the original Idaho Law, which contemplates a cyclist &ldquo;approaching
                    a stop sign [who] shall slow down and, if required for safety, stop before entering the intersection[.]&rdquo;
                    <cite>Idaho Code 49-720</cite>. Kentucky&apos;s 601 KAR 14:020 Section 7(5) contemplates a full stop and a light that fails to trigger.</p>
            </div>
        </details>
    </section>
    </div>
    <aside class="col flow">
        <ul id="menu-bicycle-laws" class="menu">
            <li><a href="/cycling-laws/definitions-1/">KRS § 189.010 &mdash; Definitions</a>
            </li>
            <li><a href="/cycling-laws/time-when-lights-must-be-on/">KRS § 189.030 &mdash; Time when lights must be on</a>
            </li>
            <li><a href="/cycling-laws/rear-side-and-clearance-lights-and-lanterns/">KRS § 189.050 &mdash; Rear, side and clearance lights and lanterns</a>
            </li>
            <li><a href="/cycling-laws/horns-and-other-sound-devices/">KRS § 189.080 &mdash; Horns and other sound devices</a>
            </li>
            <li><a href="/cycling-laws/state-maintained-highways-restriction-and-regulation-of-traffic/">KRS § 189.231 &mdash; State maintained highways; restriction and regulation of traffic</a>
            </li>
            <li><a href="/cycling-laws/bicycle-safety-regulations-and-standards/">KRS § 189.287 &mdash; Bicycle safety regulations and standards</a>
            </li>
            <li><a href="/cycling-laws/operation-of-electric-low-speed-scooter-on-highway-bicycle-lane-or-bicycle-path/">KRS § 189.289 &mdash; Operation of electric low-speed scooter on highway, bicycle lane, or bicycle path</a>
            </li>
            <li><a href="/cycling-laws/operator-of-vehicle-to-drive-carefully/">KRS § 189.290 &mdash; Operator of vehicle to drive carefully</a>
            </li>
            <li><a href="/cycling-laws/vehicles-to-keep-to-right-exceptions/">KRS § 189.300 &mdash; Vehicles to keep to right; exceptions</a>
            </li>
            <li><a href="/cycling-laws/vehicles-meeting-other-vehicles-and-animals/">KRS § 189.310 &mdash; Vehicles meeting other vehicles and animals</a>
            </li>
            <li><a href="/cycling-laws/turning-and-right-of-way-at-intersections/">KRS § 189.330 &mdash; Turning and right-of-way at intersections</a>
            </li>
            <li><a href="/cycling-laws/overtaking-vehicles-bicycles-or-electric-low-speed-scooters-traffic-lanes-following-vehicles/">KRS § 189.340 &mdash; Overtaking vehicles, bicycles, or electric low-speed scooters; traffic lanes; following vehicles</a>
            </li>
            <li><a href="/cycling-laws/operating-vehicle-not-a-motor-vehicle-while-under-influence/">KRS § 189.520 &mdash; Operating vehicle not a motor vehicle while under influence</a>
            </li>
            <li><a href="/cycling-laws/definitions-2/">KRS § 189.810 &mdash; Definitions</a>
            </li>
            <li><a href="/cycling-laws/use-of-emblem-of-reflective-tape-restricted-exemption-from-requirement/">KRS § 189.830 &mdash; Use of emblem of reflective tape restricted; exemption from requirement</a>
            </li>
            <li><a href="/cycling-laws/penalties/">KRS § 189.990 &mdash; Penalties</a>
            </li>
            <li><a href="/cycling-laws/bicycle-safety-standards/">601 KAR 14:020 &mdash; Bicycle safety standards</a>
            </li>
        </ul>
    </aside>
</div>