---
title: Cycling Laws - Operation of Electric Low-Speed Scooter on Highway, Bicycle Lane, or Bicycle Path
layout: base.njk
description: Overview of operation of electric low-speed scooter on highway, bicycle lane, or bicycle path laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.289 - Operation of electric low-speed scooter on highway, bicycle lane, or bicycle path</h1>

	<ol class="flow law-definitions">
		<li>A person sixteen (16) years of age or older, may operate an electric low-speed scooter on a highway, bicycle lane, or bicycle path.</li>
		<li>A person operating an electric low-speed scooter under this section shall be subject to traffic regulations outlined in this chapter, and the provisions of KRS 189.520.</li>
		<li>An electric low-speed scooter shall be equipped with and shall have illuminated, at least one (1) headlamp and at least one (1) rear red light when:
			<ul>
				<li>Operated during the period from one-half ( 1/2 ) hour after sunset to one-half ( 1/2 ) hour before sunrise; or</li>
				<li>At such other times as atmospheric conditions render visibility as low as or lower than is ordinarily the case during that period.</li>
			</ul>
		</li>
		<li>An electric low-speed scooter may be parked on a sidewalk in a manner that does not impede the reasonable movement of pedestrian or any other traffic.</li>
		<li>An operator of an electric low-speed scooter and any company or entity that provides electric low-speed scooters for rental, shall comply with all local government ordinances.</li>
		<li>The Transportation Cabinet shall promulgate administrative regulations pursuant to KRS Chapter 13A to establish safe operating standards for electric low-speed scooters. Administrative regulations established under this section shall not include any equipment or helmet use requirements.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2019 c 22, § 4, eff. 6-27-19</p>
	</section>
</div>