---
title: Cycling Laws - Overview of Operator of Vehicle to Drive Carefully Laws
layout: base.njk
description: Overview of operator of vehicle to drive carefully laws in Kentucky.
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.290 - Operator of vehicle to drive carefully</h1>

	<ol class="flow law-definitions">
		<li>The operator of any vehicle upon a highway shall operate the vehicle in a careful manner, with regard for the safety and convenience of pedestrians and other vehicles upon the highway.</li>
		<li>No person shall willfully operate any vehicle on any highway in such a manner as to injure the highway.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>1942 c 208, § 1, eff. 10-1-42; KS 2739g-33, 2739g-35</p>
	</section>
</div>