---
title: Cycling Laws - Operating Vehicle Not a Motor Vehicle While Under Influence
layout: base.njk
description: Overview of operating vehicle not a motor vehicle while under influence laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.520 - Operating vehicle not a motor vehicle while under influence</h1>

	<ol class="flow law-definitions">
		<li>No person under the influence of intoxicating beverages or any substance which may impair one&apos;s driving ability shall operate a vehicle that is not a motor vehicle anywhere in this state.
		<li>No peace officer or State Police officer shall fail to enforce rigidly this section.</li>
		<li>In any criminal prosecution for a violation of subsection (1) of this section, wherein the defendant is charged with having operated a vehicle which is not a motor vehicle while under the influence of intoxicating beverages, the alcohol concentration, as defined in KRS 189A.005, in the defendant&apos;s blood as determined at the time of making an analysis of his blood, urine, or breath, shall give rise to the following presumptions:
			<ul>
				<li>If there was an alcohol concentration of less than 0.05, it shall be presumed that the defendant was not under the influence of alcohol;</li>
				<li>If there was an alcohol concentration of 0.05 or greater but less than 0.08, such fact shall not constitute a presumption that the defendant either was or was not under the influence of alcohol, but such fact may be considered, together with other competent evidence, in determining the guilt or innocence of the defendant; and<li>
				<li>If there was an alcohol concentration of 0.08 or more, it shall be presumed that the defendant was under the influence of alcohol.</li>
			</ul>
		</li>
		<li>The provisions of subsection (3) of this section shall not be construed as limiting the introduction of any other competent evidence bearing upon the question of whether the defendant was under the influence of intoxicating beverages.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2000 c 467, § 12, eff. 10-1-00; 1991 1st ex s, c 15, § 19, eff. 7-1-91; 1984 c 165, § 18; 1968 c 184, § 7; 1958 c 126, § 24; 1954 c 74; 1946 c 209; 1942 c 208, § 1; KS 2739g-34, 2739g-34a, 2739g-34b</p>
	</section>
</div>