---
title: Cycling Laws - Overview of Overtaking Vehicles, Bicycles, or ELectric Low-Speed Scooters
layout: base.njk
description: Overview of overtaking vehicles, bicycles, or electric low-speed scooters, traffic lanes, following vehicles laws in Kentucky.
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.340 - Overtaking vehicles, bicycles, or electric low-speed scooters; traffic lanes; following vehicles</h1>

    <ol class="flow law-definitions">
      <li>Vehicles overtaking other vehicles proceeding in the same direction shall pass to the left of them and shall not again drive to the right until reasonably clear of those vehicles. Vehicles overtaking streetcars may pass either to the right or left when so directed by a police officer, when on a one (1) way street or where the location of the tracks prevents compliance with this section, with regard for other traffic.</li>
	  <li>(a) Vehicles overtaking a bicycle or electric low-speed scooter proceeding in the same direction shall:
        <ol class="">
          <li>
            If there is more than one (1) lane for traffic proceeding in the same direction, move the vehicle to the immediate left, if the lane is available and moving in the lane is reasonably safe; or
          </li>
          <li>
            If there is only one (1) lane for traffic proceeding in the same direction, pass to the left of the bicycle or electric low-speed scooter at a distance of not less than three (3) feet between any portion of the vehicle and the bicycle or electric low-speed scooter and maintain that distance until safely past the overtaken bicycle or electric low-speed scooter. If space on the roadway is not available to have a minimum distance of three (3) feet between the vehicle and the bicycle or electric low-speed scooter, then the driver of the passing vehicle shall use reasonable caution in passing the bicyclist or electric low-speed scooter operator.
				<ul>
					<li>(b) The driver of a motor vehicle may drive to the left of the center of a roadway, including when a no-passing zone is marked in accordance with subsection (6) of this section, to pass a person operating a bicycle or electric low-speed scooter only if the roadway to the left of the center is unobstructed for a sufficient distance to permit the driver to pass the person operating the bicycle or electric low-speed scooter safely and avoid interference with oncoming traffic. This paragraph does not authorize driving on the left side of the center of the roadway when otherwise prohibited under state law.</li>
					<li>(c) The operator of a bicycle or electric low-speed scooter shall not ride more than two (2) abreast on a single highway lane unless operating on any part of the roadway marked exclusively for bicycle use. Persons riding two (2) abreast shall not impede the normal and reasonable movement of traffic.</li>
				</ul>
          </li>
    	</ol>
  	</li>

  <li>
    The operator of a vehicle may overtake and pass upon the right of another vehicle only under the following conditions:
    <ol type="a" class="sublist">
      <li>When the vehicle overtaken is making or about to make a left turn;</li>
      <li>Upon a roadway with unobstructed pavement of sufficient width for two (2) or more lines of vehicles moving lawfully in the direction being traveled by the overtaking vehicle.</li>
    </ol>
  </li>

  <li>
    The operator of a vehicle may overtake and pass another vehicle upon the right only under conditions permitting such movements in safety. Such movement shall not be made by driving off the roadway unless passing vehicle comes to a complete stop and such movement may be made safely.
  </li>

  <li>
    No vehicle shall be driven to the left side of the center of the roadway in overtaking and passing another vehicle proceeding in the same direction unless the left side is clearly visible and free of oncoming traffic for a sufficient distance ahead to permit overtaking and passing to be completely made without interfering with the safe operation of any vehicle approaching from the opposite direction or any vehicle overtaken. In every event, the overtaking vehicle must return to the right-hand side of the roadway before coming within two hundred (200) feet of any vehicle approaching from the opposite direction.
  </li>

  <li>
    The commissioner of highways is hereby authorized to determine those portions of any highway where overtaking and passing or driving to the left of the roadway would be especially hazardous and may by appropriate signs or markings on the roadway indicate the beginning and end of such zones, and when such signs or markings are in place and clearly visible to an ordinarily observant person, every driver of a vehicle shall obey the directions thereof, except as provided for in subsection (2)(b) of this section.
  </li>

  <li>
    Whenever any roadway has been divided into three (3) clearly marked lanes for travel, the following additional rules shall apply:
    <ol type="a" class="sublist">
      <li>
        A vehicle shall be driven as nearly as may be practical entirely within a single lane and shall not be moved from that lane until the driver has first ascertained that the movement can be made with safety;
      </li>
      <li>
        A vehicle shall not be driven in the center lane except when overtaking and passing another vehicle where the roadway is clearly visible and the center lane is clear of traffic within a safe distance, or in preparation for a left turn or where a center lane is at the time allocated exclusively to traffic moving in the direction in which the vehicle is proceeding and is signposted to give notice of the allocation; and
      </li>
      <li>
        Official signs may be erected directing slow-moving traffic to use a designated lane or allocating specified lanes to traffic moving in the same direction and operators of vehicles shall obey the directions of such signs.
      </li>
    </ol>
  </li>

  <li>
    A vehicle shall not be driven in the left lane of any limited access highway of four (4) lanes or more with a posted speed limit of at least sixty-five (65) miles per hour, except in overtaking a slower vehicle, yielding to traffic coming onto such a highway, or when traffic conditions exist which would prohibit safe use of the right or center lanes.
  </li>

  <li>
    <ol type="a" class="sublist">
      <li>
        Except as provided in paragraph (c) of this subsection, the operator of a motor vehicle shall not follow another vehicle more closely than is reasonable and prudent, having regard for the speed of the vehicle and the traffic upon and condition of the highway.
      </li>
      <li>
        Except as provided in paragraph (c) of this subsection, the operator of any motor truck, semitrailer truck, bus, or heavy construction equipment unit, when traveling upon a highway outside of a business or residential district, shall not follow within two hundred fifty (250) feet of another such vehicle or equipment unit. This subsection shall not prevent overtaking and passing, nor shall it apply to any lane specially designated for use of motor trucks or semitrailer trucks, buses or heavy construction equipment units.
      </li>
      <li>
        Paragraphs (a) and (b) of this subsection shall not apply to a trailing commercial motor vehicle involved in a platoon as defined in KRS 281.010, but shall apply to the commercial motor vehicle leading a platoon.
      </li>
    </ol>
  </li>
</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2019 c 22, § 7, eff. 6-27-19; 2018 c 33, § 3, eff. 7-14-18; 2018 c 38, § 2, c 33, § 3, eff. 7-14-18; 2007 c 43, § 2, eff. 6-26-07; 2006 c 173, § 17, eff. 7-12-06; 1988 c 245, § 1, eff. 7-15-88; 1982 c 27, § 1; 1978 c 46, § 5; 1964 c 65, § 2; 1962 c 288, § 1; 1952 c 206, § 2; 1950 c 51; 1942 c 208, § 1; KS 2739g-40</p>
	</section>
</div>