---
title: Cycling Laws - Rear, Side and Clearance Lights and Lanterns
layout: base.njk
description: Overview of rear, side and clearance lights and lanterns.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.050 - Rear, side and clearance lights and lanterns</h1>
	
	<ol class="flow law-definitions">
		<li>All motor vehicles shall display at the rear two (2) red lights visible when lighted for at least five hundred (500) feet, unless the motor vehicle was originally equipped with only one (1) such light.</li>
		
		<li>A person shall not operate any motor truck or semitrailer truck on any highway unless it is equipped with a red light that automatically indicates the application of brakes and is visible from the rear a distance of not less than five hundred (500) feet.</li>
		
		<li>No person shall operate on any highway a motor truck or semitrailer truck having a width of any part in excess of eighty-four (84) inches, unless it carries at least two (2) clearance lights to indicate the outside left limit of the motor truck or semitrailer truck, one (1) light colored white, to be attached to and be visible from the front of the motor truck or semitrailer truck, and two (2) lights colored red, to be attached to and be visible from the rear, in each case a distance of not less than five hundred (500) feet.</li>
		
		<li>When in operation on any highway, slow-moving or motorless vehicles, except bicycles and electric low-speed scooters, shall have at least one (1) light on the left side of the vehicle whether from the front or rear, showing white and of sufficient power to reveal clearly the outline of the left side of the vehicle and in such a manner that the outline may be observed clearly by approaching vehicles from a distance of at least five hundred (500) feet.</li>
		
		<li>When in operation between sunset and sunrise on any highway, motorless vehicles, except bicycles and electric low-speed scooters, shall have in operation:
			<ul>
				<li>(a) A four (4) way flasher system, with two (2) flashing yellow or amber lights visible from the front of the vehicle for a distance of at least five hundred (500) feet and two (2) flashing red lights visible from the rear of the vehicle for a distance of at least five hundred (500) feet; or</li>
				<li>(b) Two (2) reflective lanterns, one (1) on either side of the rear of the vehicle, showing white to the front of the vehicle and red to the rear of the vehicle, with the lantern on the left side of the vehicle situated at least twelve (12) inches higher than the lantern on the right.</li>
			</ul>
		</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2019 c 22, § 6, eff. 6-27-19; 2012 c 53, § 1, eff. 4-11-12; 2006 c 173, § 3, c 105, § 1, eff. 7-12-06; 1974 c 101, § 3, eff. 6-21-74; 1966 c 73, § 2; 1942 c 208, § 1; KS 2739g-24, 2739g-50, 2739g-89, 2739g-90</p>
	</section>
</div>