---
title: Cycling Laws - State Maintained Highways Restriction and Regulation of Traffic
layout: base.njk
description: Overview of state maintained highways restriction and regulation of traffic laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.231 - State maintained highways; restriction and regulation of traffic</h1>

	<ol class="flow law-definitions">
		<li>The secretary of transportation may install and maintain traffic control devices upon state-maintained highways in such manner as is reasonably necessary to promote the safety and convenience of the traveling public.</li>
		<li>The driver of any vehicle shall obey the instructions of any official traffic control device applicable thereto unless otherwise directed by a traffic or police officer, subject to the exceptions granted the driver of an authorized emergency vehicle.</li>
		<li>The secretary of transportation may restrict or regulate traffic upon state-maintained highways in such a manner as is reasonably necessary to promote the safety of the traveling public.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>1988 c 347, § 1, eff. 4-10-88; 1966 c 255, § 178; 1952 c 206, § 1</p>
	</section>
</div>