---
title: Cycling Laws - Time When Lights Must Be On
layout: base.njk
description: Overview of what time lights must be on in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.030 - Time when lights must be on</h1>
	<ol class="flow law-definitions">
		<li>
			Headlamps, when required on a vehicle, shall be illuminated:
			<ul>
				<li>During the period from one-half (1/2) hour after sunset to one-half (1/2) hour before sunrise; and</li>
				<li>At such other times as atmospheric conditions render visibility as low as or lower than is ordinarily the case during that period.</li>
			</ul>
		</li>

		<li>
			Provisions as to distances that lights must be visible refer to visibility under ordinary atmospheric conditions.
		</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2006 c 173, § 1, eff. 7-12-06; 1942 c 208, § 1, eff. 10-1-42; KS 2739g-23, 2739g-24</p>
	</section>
</div>