---
title: Cycling Laws - Overview of Use of Emblem of Reflective Tape Restricted, Exemption from Requirement
layout: base.njk
description: Overview of use of emblem of reflective tape restricted, exemption from requirement laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.830 - Use of emblem of reflective tape restricted; exemption from requirement</h1>

	<ol class="flow law-definitions">
		<li>(1) The slow-moving vehicle emblem shall be restricted to the uses specified herein and the use on any other type of vehicle or on other objects is prohibited.</li>
		<li>The slow-moving vehicle emblem shall not be required on trailers or other drawn vehicles which do not obstruct the slow-moving vehicle emblem required on the towing vehicle.</li>
		<li>Highway construction or maintenance vehicles and public utility vehicles shall not require slow-moving vehicle emblems when being guarded by flagmen or flares.</li>
		<li>The use of slow-moving vehicle emblems or alternative reflective tape, as required under KRS 189.820, shall be in addition to any other reflective or lighting devices required by law.</li>
		<li>The slow-moving vehicle emblem shall not be used on a bicycle.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2012 c 53, § 3, eff. 4-11-12; 1974 c 101, § 6, eff. 6-21-74; 1970 c 45, § 3</p>
	</section>
</div>