---
title: Cycling Laws - Vehicles Meeting Other Vehicles and Animals
layout: base.njk
description: Overview of vehicles meeting other vehicles and animals laws in Kentucky.
changeFreq: monthly
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.310 - Vehicles meeting other vehicles and animals</h1>

	<ol class="flow law-definitions">
		<li>Two (2) vehicles passing or about to pass each other in opposite directions shall have the right-of-way, and no other vehicle to the rear of those two (2) vehicles shall pass or attempt to pass either of those vehicles.</li>
		<li>Vehicles proceeding from opposite directions shall pass each other from the right, each giving to the other one-half (1/2) of the highway as nearly as possible.</li>
		<li>Every person operating a vehicle on a highway and approaching any animal being ridden or driven, shall exercise every reasonable precaution to prevent frightening the animal and to insure the safety of the person riding or driving it.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2006 c 173, § 13, eff. 7-12-06; 1942 c 208, § 1, eff. 10-1-42; KS 2739g-36, 2739g-39, 2739g-44</p>
	</section>
</div>