---
title: Cycling Laws - Vehicles to Keep to Right Exceptions
layout: base.njk
description: Overview of vehicles to keep to right exceptions laws in Kentucky.
---

<div class="wrapper single-column flow">
	<p><a href="/cycling-laws/" class="breadcrumb">&larr; Back to all Cycling Laws</a></p>

	<h1 id="main-heading">KRS § 189.300 - Vehicles to keep to right; exceptions</h1>

	<ol class="flow law-definitions">
		<li>The operator of any vehicle when upon a highway shall travel upon the right side of the highway whenever possible, and unless the left side of the highway is clear of all other traffic or obstructions for a sufficient distance ahead to permit the overtaking and passing of another vehicle to be completed without interfering with the operation of any vehicle approaching from the opposite direction or any vehicle being overtaken. The overtaking vehicle shall return to the proper traffic lane as soon as practicable and, if the passing vehicle enters the oncoming traffic lane, before coming within two hundred (200) feet of any approaching vehicle.</li>
		<li>The operator of any vehicle moving slowly upon a highway shall keep his vehicle as closely as practicable to the right-hand boundary of the highway, allowing more swiftly moving vehicles reasonably free passage to the left, unless signage or markings indicate otherwise.</li>
	</ol>

	<section class="history flow" aria-labelledby="history-heading">
		<h2 id="history-heading">History</h2>
		<p>2018 c 38, § 1, eff. 7-14-18; 2006 c 173, § 12, eff. 7-12-06; 1942 c 208, § 1, eff. 10-1-42; KS 2739g-35, 2739g-45</p>
	</section>
</div>