---
title: Thanks for Contacting Me
layout: base.njk
description: Your message has been sent, thanks!
---

<div class="wrapper page-contact">
    <div class="col flow">
        <h1>Thanks!</h1>
        <p>
            Your message has been sent. I will get back to you as soon as possible.
            If you need immediate assistance, please call me at either number below. <a href="/">Go back to the homepage</a>.
        </p>
    </div>
</div>