---
title: Testimonials
layout: base.njk
description: Hear from some clients about their experience working with me.
---

<div class="wrapper single-column flow">
    <h1>Testimonials</h1>
    <div class="testimonials">
        <blockquote class="flow">
            <p>I was an avid cyclist, and had known Chris very casually from a few group rides. I was fortunate to get to know him
                much better after I was hit by an at-fault SUV in May 2022. Chris worked in collaboration with Steve Magas to sort out
                the intricacies of my case and explain them in a manner that was easy to understand. Step by step through the process, I
                was kept abreast of any developments and negotiations, and Chris was always just a phone call away for any questions or
                just to listen to me. Chris has a very compassionate manner, and did a great service to me in managing my expectations
                and ultimately delivering results in my personal injury claim.</p>
            <p>I&apos;m a retired cyclist now, but would not hesitate to hire Carville Legal Counsel for any legal needs in the
                future.</p>
            <p class="author">Patrick Rose, Bicycle Client</p>
        </blockquote>
        <blockquote class="flow">
            <p>
                <cite>From Bike Law 101: Tips for Handling a Bike Case in Ohio and Kentucky</cite>
            </p>
            <p>Best CLE I ever attended.</p>
            <p class="author">B.N., Attorney</p>
        </blockquote>
        <blockquote class="flow">
            <p>I contacted Chris Carville following a citation I received while riding my bike. The details of the citation made
                little sense in the context of the conditions at the time. I was worried that points would be assessed to my
                driver&apos;s license, despite my not operating a motor vehicle at the time, as the ticket was to be processed by a
                Mayor&apos;s Court, which are notorious for their rapid and coercive processing of tickets. Chris was professional from
                the start and provided me with a clear and realistic expectation of what to expect going forward. Chris&apos;s presence
                in negotiation with municipal officials put me at ease in what would otherwise be an imposing situation and he ensured
                that the citation did not impact my driving record. Should I require legal representation in the future I will consult
                Carville Legal Counsel.</p>
            <p class="author">B.G., Bicycle Client</p>
        </blockquote>
        <blockquote class="flow">
            <p>Last summer I was forced off the road by a car carrier while I was riding my bike. The semi overcame me just as I was
                entering into a one lane right hand turn. His back wheels narrowly missed crushing me and I was thrown over the
                handlebars, taking the brunt of the fall on my mouth and chin. The driver proceeded to travel down the road. I landed in
                the gutter not believing that I was still alive. I was in terrible pain but I was choking on my own blood and I forced
                myself to stand and breathe. The driver had stopped and walked back towards me as I spit mouthfuls of blood into the
                grass and on the pavement. He said he would get me a paper towel from his truck- and then he drove off.</p>
            <p>Without a witness to my accident, it seemed that this would be just one more tough luck story. But my boyfriend was
                adamant that we contact Chris Carville. Chris was fantastic from the moment we first talked. He was knowledgeable about
                the rights of cyclists and committed to helping me with my case. He worked with the police to obtain evidence and track
                down the driver and his employer. Their insurance company tried to brush us off, but Chris persevered and he set things
                straight.</p>
            <p>Ten months later we received a check from the trucking company&apos;s insurer. I no longer look like the walking
                dead, my broken thumb has healed and I still have all my teeth. All the bruises have faded. I have to thank Chris,
                because even though the law was on my side, there would have been no justice without his hard work. Thank you, Chris- we
                are all sharing the road!</p>
            <p class="author">Peggy K.</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris helped us with an auto-accident where the at-fault driver had serious coverage issues. Chris was able to use
                his experience and industry relationships to convince the Insurer to provide coverage and an excellent outcome for us.
                He kept us informed throughout the process and always promptly responded to our questions, which is a rarity in this
                business. Thank you Chris!</p>
            <p class="author">Anne, Personal Injury Client</p>
        </blockquote>
        <blockquote class="flow">
            <p>Going through a set of injuries, knowing how to get through the steps correctly and easily is not an easy set of
                tasks. Having someone to guide and help me through it was very helpful. Also, having someone who knows very well how to
                navigate the waters of insurance and recovery and being empathetic and easy to reach by phone and email is also very
                helpful and Chris did all of these. He even answered my call while he was outside riding his bicycle. Not many attorneys
                will go to the trouble of taking care of their client like he does. The process was made easier and I&apos;m thankful to
                have had his help and wouldn&apos;t consider going to anyone else.</p>
            <p>Nice job and thank you!</p>
            <p class="author">Barry Reid, D.C.</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris represented me following an auto accident. He made the whole process easy and painless. Chris&apos;s
                communication, responsiveness, and support were strong and very much appreciated. With his help, we were ultimately able
                to settle without going to trial, resulting in a better-than-expected outcome. I highly recommend Chris.</p>
            <p class="author">Former Client, R.B.</p>
        </blockquote>
        <blockquote class="flow">
            <p>Being a cyclist I recalled hearing Steve Magas on the radio on several occasions. Steve was interviewed relating to
                cycling laws and cyclist issues. After listening to Steve I decided if I ever had an issue I would want a lawyer with a
                knowledge in my hobby to represent me.</p>
            <p>After my accident I told my wife to contact Steve for help. The decision was a good one. Steve brought in Chris
                Carville to assist in my case.</p>
            <p>Both Steve and Chris were invaluable with dealing with all the hospital bills and general knowledge of the process.
                Chris and Steve met with my wife and I to discuss the case and completely explained the process.</p>
            <p>This was a very difficult time for me and my family. Having Chris and Steve to guide us through the process and take
                care of the outside influences was invaluable.</p>
            <p>I would strongly recommend both Chris and Steve for their knowledge and compassion.</p>
            <p class="author">Rick P., Cyclist</p>
        </blockquote>
        <blockquote class="flow">
            <p>I attended a NBI construction law seminar where Chris was a presenter.&nbsp; Chris was definitely one of the better
                presenters at any CLE course I have ever taken.&nbsp; His talk on insurance was extremely helpful and easy to follow.</p>
            <p class="author">S.W., Contract Risk Manager</p>
        </blockquote>
        <blockquote class="flow">
            <p>Carville was the best, most well prepared, speaker I have ever seen at an NBI seminar.</p>
            <p class="author">From A National Business Institute Seminar Entitled Ohio Uninsured And Underinsured Motorist Law
                &mdash; Made Simple</p>
        </blockquote>
        <blockquote class="flow">
            <p>We had the pleasure of working with Chris Carville and Steve Magas through a highly specialized insurance review and
                negotiation process for the JDRF Ride to Cure Diabetes, a charitable cycling program. From Day 1, they exemplified
                everything one could or would hope for in an advocate. An example: their use of the word &ldquo;we&rdquo; or
                &ldquo;us&rdquo;. They always self-identified as part of our team advocating for our team&apos;s safety. In the end,
                they found the perfect balance between being professional while at the same time seeing this as personal. Their
                knowledge and expertise is second to none; ultimately negotiating the best outcome for all parties which will help
                sustain the program well into the future. We highly recommend these gentlemen!</p>
            <p class="author">Tara Ploeger, Director JDRF Ride to Cure Diabetes &amp; John Dallman, JDRF Ride Volunteer and Advocate</p>
        </blockquote>
        <blockquote class="flow">
            <p>I&apos;m an avid cyclist and was struck by a car while riding. After several stressful months of handling the
                insurance claim on my own, a fellow cyclist gave me Chris Carville&apos;s contact information. When I reached out to
                him, he kindly reviewed the police report and gave me a free consultation over the phone. Chris being a cyclist himself,
                was able to empathize and provide a wealth of information regarding my situation. My wife and I decided to move forward
                with having Chris represent us. From that moment on, we couldn&apos;t have been more thankful for the services Chris
                provided. His knowledge of the law, communication, and his advocacy on our behalf alleviated the stress of handling the
                insurance claim. We were very pleased with our final settlement and Chris&apos;s guidance through that part of the
                process. Not only is Chris a phenomenal attorney, but a great man of integrity and a joy to work with. We could not
                recommend Chris with higher regards!</p>
            <p class="author">Greg &amp; Jess T.</p>
        </blockquote>
        <blockquote class="flow">
            <p>I have worked with Chris for many years. He is one of the smartest guys I know. He recently had the opportunity to
                try a construction case for us. His evaluation of the case was unwavering and his performance in the courtroom was
                exemplary. The damages portion of the case was particularly complex and the subject of several expert witnesses&apos;
                testimony. The Plaintiffs demanded $1,300,000.00 and the verdict was under $115,000.00 and well within his exposure
                analysis. I would highly recommend Chris as experienced trial counsel to anyone considering his services.</p>
            <p class="author">James McLean, Associate General Counsel, Duke Energy</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris represented us at a difficult time in our lives. Everyone knows that their home is their castle and our home
                experienced significant damage due to matters entirely out of our control. Chris represented our interests well. He
                clearly understood the factual and legal issues at play and was readily available to discuss all aspects of the case. We
                were pleased with the ultimate resolution of the case and would highly recommend Chris.</p>
            <p class="author">Former Clients, Chris &amp; Maureen</p>
        </blockquote>
        <blockquote class="flow">
            <p>We highly recommend Chris Carville to handle your legal matters. We were defendants in a lawsuit; a lawsuit that was
                completely fraudulent (at least in our opinion). We were very nervous during this time, and Chris put us at ease every
                time we discussed the case with him. He kept us up to date on everything that was going on, and constantly assured us
                that everything was going to be fine. The case was eventually dismissed.</p>
            <p class="author">Former Clients, Joseph &amp; Christina</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris represented our company during a very long, stressful and difficult lawsuit. He did a great job communicating
                and leading us through a situation that was very new for us. We were very pleased with the outcome of our case and plan
                to continue working with Chris for our business and contract needs.</p>
            <p class="author">John Hite, President of Clearcreek Construction</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris represented me and my rental properties business for over 7 years. Chris not only has exceptional attention to
                detail, but also was organized, thorough, and tactical in dealing with the other party&apos;s lawyers. He went above and
                beyond to get to know me as a client and prepared me well for deposition questioning. Chris was successful in the courts
                and brought about a satisfactory resolution to my suits. I am confident that you will be happy with his professional
                representation.</p>
            <p class="author">Y. Pan</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris Carville has represented our firm on several professional liability claims and always had a deep understanding
                of the legal matters relevant to the case at hand. Chris is easy to work with and I would not hesitate to use Chris
                should I ever have my own personal matters requiring legal counsel.</p>
            <p class="author">Brian J.</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris represented our company and our Driver in a lengthy litigation involving multiple plaintiffs. We believed our
                driver was in the right and Chris did not waver in maintaining that position. Ultimately the Plaintiffs dismissed their
                case less than 24 hours before the first day of trial. Chris kept us informed and did a great job of preparing our
                people for depositions and trial. We would recommend him as trial counsel without qualification.</p>
            <p class="author">Former Trucking Client</p>
        </blockquote>
        <blockquote class="flow">
            <p>I have worked with Chris on a number of insurance defense cases for many years. He has always been professional,
                timely, and very knowledgeable in his field. I enjoyed working with Chris, especially with complex and sensitive cases.</p>
            <p class="author">Kimberly Link, SCLA,CISR, AIC Lit. Specialist III PERSO</p>
        </blockquote>
        <blockquote class="flow">
            <p>In a difficult period in my life, I found myself in dire need of legal representation. It was an unfamiliar, scary
                situation, but I was very lucky to be represented by Chris. The entire time that he handled my case, Chris was
                professional, responsive, upbeat but factual, and very kind and calming in his communications. He timely produced a fair
                outcome in what could have been lengthy trial. I put my trust in him and it was the smartest thing I could have done. I
                unequivocally recommend Chris Carville&apos;s legal services.</p>
            <p class="author">Former Client, Anna</p>
        </blockquote>
        <blockquote class="flow">
            <p>In 2017 a company that I hired to scrape and paint the ceiling had an accident where one of its employees fell
                suffering major injuries including broken bones and a traumatic brain injury. Not only was the painting company sued,
                his family also tried to sue my business and family. The potential ramifications of going to trial could have been
                devastating not only for my business but our family too if it hadn&apos;t been for the legal expertise of Attorney Chris
                Carville. Everything was handled in a very professional manner. Not only did he handle the entire process but also saved
                me from going to a lengthy trial with the possibility of a large verdict. If you are facing any kind of legal action, do
                not try and navigate the court system alone. Hire Attorney Chris Carville to represent you!</p>
            <p class="author">Bryan, Former Client</p>
        </blockquote>
        <blockquote class="flow">
            <p>I had the pleasure of collaborating with Chris Carville in several cases. He was always timely and thorough which are
                both a necessity in the legal environment. He could be counted on to provide assistance and direction whenever I reached
                out to him. I appreciated his professional, knowledgeable and candid advice. He was a great defender and representative
                for his clients.</p>
            <p class="author">Tracy, Former Colleague</p>
        </blockquote>
        <blockquote class="flow">
            <p>Chris Carville really takes the time to listen patiently and understand the issues. His work in creating visuals is
                extremely helpful. He is excellent at analyzing the various issues and coordinating cooperation among multiple parties
                in order to resolve litigation in a very favorable manner. He is a very pleasant and professional attorney. I highly
                recommend him.</p>
            <p class="author">Debra H., Attorney, Claims Professional</p>
        </blockquote>
        <blockquote class="flow">
            <p>Being in the insurance industry I have had the opportunity to work with hundreds of attorneys—both defense attorneys
                and plaintiff attorneys. I had the pleasure of working with Chris for several years at&nbsp;State Auto and would
                recommend him for many reasons. He is not only excellent from a litigation strategy standpoint; he is also invested in
                the relationship with his clients.</p>
            <p class="author">Jennifer Klase, MBA, CPCU, SCLA</p>
        </blockquote>
        <blockquote class="flow">
            <p>Working with Chris was the best experience with an attorney, ever! Chris was a total Professional through the entire
                process. He was awesome!</p>
            <p class="author">Don, Contractor Client</p>
        </blockquote>
    </div>
</div>