---
title: Media
layout: base.njk
description: Eposodes of Pedaling Squares, Chris Carville's podcast
---

<div class="wrapper">
    <div class="col flow">
        <h1>Media</h1>

        <h2>Pedaling Squares Podcast Episodes</h2>

        <div class="media-youtube flow">
            <h3>Ep. 14, Metta Endurance Returns</h3>
            <p>Michael Seiler and Holly Brenner of <a href="https://mettaperformance.com/the-metta-method/">Metta Endurance</a> return to interview the interviewer.</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/-g2HocHwVa8?si=9euJ_zXtclC4wBbl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="media-youtube flow">
            <h3>Ep. 13, with Metta Endurance</h3>
            <p>I was familiar with the Rogue Racing Project for years. I generally knew about Micheal Seiler because he was the evil genius behind a novel brand of bike racing team. So, when I hung a shingle and got on Instagram for &ldquo;marketing reasons&rdquo; I followed him as <a href="https://www.instagram.com/bike.zen/">bike.zen</a>. From there I started following him and Holly Brenner on Instagram at &ldquo;mettaendurance&rdquo; which is their coaching business.</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/xl4SbZ4zGS8?si=eVt4gKF2xFt0U9BY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="media-youtube flow">
            <h3>Ep. 12, Doug McClintock of Cincy Red Bike</h3>
            <p>Join me for a long overdue conversation with Doug McClintock. Doug is the Current Executive Director of Red Bike, the Cincy Region&apos;s bike share system, Doug has previously served as President of CORA, and is a co-host of The Gravel Lot, alongside his partner-in-crime, Jon Wolery.</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/_6SW5HvmgJA?si=TT5KCNAOb4UMaymM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="media-youtube flow">
            <h3>Ep. 11, with Jason Reser</h3>
            <p>Join me for a conversation with Jason Reser, owner of Reser Bicycle Outfitters and Trailhead Coffee, and the Trail Development Director for CORA, Cincinnati Off-Road Alliance.</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/HTvwC59PU7c?si=V558hb9HCVRs7-6S" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="media-youtube flow">
            <h3>Ep. 10, with Wade Johnson</h3>
            <p>Conversation with Wade Johnson of Tri-State Trails where we discuss steel framed bikes, advocacy, and bike infrastructure.</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/T0j474rS3-I?si=o8EMnmqPZouz6vtZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <div class="media-youtube flow">
            <h3>Ep. 9, with Will Leet</h3>
            <p>Join me for a conversation with WIll Leet of Licking Valley Velo, one of the fastest-growing cycling teams/clubs in the region!</p>
            <iframe width="800" height="450" src="https://www.youtube.com/embed/Mg0c7gGs9jM?si=wRqvXZxXE5H2GdV_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>	
</div>